out
*.iml
.idea
log.*
**/logs
.DS_Store
**/node_modules
**/docs
**/bower_components
logs/
**/.tmp
client/dev-release/
blur-admin-master/
.metadata/
*.prefs
*.project
*.classpath
client/$HOME/
client/.qiniu.json
